<%- include('../partials/header') %> 


<h1>Welcome to wodWizard, <br/></h1>
<h3>Today's wod is :</h3>

<h1>I need this page to show up</h1>

<button class="btn btn-dark" id="wod">Wod</button>
<div id="showWod"></div>
     

<%- include('../partials/footer') %> 