
<%- include('../partials/header.ejs') %> 


<h2>Create a Wod</h2>
    <form action="/" method="POST">
        <label>Title:
            <input type="text" name="wodTitle" id="wodTitle" placeholder="Name your wod">
        </label>
        <input type="date" name="date" id="date" hidden>
        <label>Workout Type:
            <select name="wodType" class="form-control">
                <option value="strength">Strength</option>
                <option value="cardio">Cardio</option>
                <option value="mix">Mix</option>
            </select>
        </label><br>
        <label>Workout Style:
            <select name="wodStyle" id="wodStyle" class="form-control">
                <option value="FOR_TIME">FOR TIME</option>
                <option value="EMOM">EMOM</option>
                <option value="AMRAP">AMRAP</option>
                <option value="E2MOM">E2MOM</option>
                <option value="FOR_QUALITY">FOR QUALITY</option>        
            </select>
        </label>
        <label>Movement:
            <input type="text" name="movement" class="form-control">
        </label><br>
        <label>Duration:
            <input type="number" name="duration" 
                id="duration" class="form-control">
        </label>
        <input type="submit" value="Add Wod" class="btn btn-dark" id="addWod">
    </br>
    <a href="#" class="btn btn-dark goBack">Go Back</a>
    </form>

<%- include('../partials/footer.ejs') %> 

