<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/404.css' />
    <title>wodWizard | 404 Not Found</title>
</head>
<body>
    <!-- gif from tenor.com -->
    <img id="giraffe" src="/images/tenor.gif" alt="Gif of a wobbly baby giraffe">
    <h1><%= error.status %><%= message %></h1>
    <h2>Think that was too many squats.</h2>
    <div id="error"><%= error.stack %></div>
</body>
</html>
