<%- include('partials/header') %>

<h1>Welcome to wodWizard</h1>

<div class=frontPage>
  <img src="/images/dailyWod.png" alt="Daily wod screenshot">
  <h5>Get new workouts daily</h5>
  <img src="/images/profile.png" alt="Profile screenshot">
  <h5>Find your friends</h5>
  <img src="public/images/goals.png" alt="Set new goals screenshot">
  <h5>Set new goals</h5>
</div>

  <script>
  ('.carousel').carousel()
  </script>
<%- include('partials/footer') %> 