<%- include('partials/header') %>

<h1>wodWizard</h1>

<div class="frontPageBox">
 
    <img class="frontPage" src="/images/dailyWod.png" alt="Daily wod screenshot">
    <h5>Get new workouts daily</h5>

    <img class="frontPage2" src="/images/goals.png" alt="Set new goals screenshot">
    <h5>Set new goals</h5>

</div>


<%- include('partials/footer') %> 