<%- include('../partials/header') %>

<div class="card-body" >
      <h5>Goals should be SMART: <span>S</span>pecific, <span>M</span>easurable, <span>A</span>chievable, <span>R</span>elevant, and <span>T</span>ime Bound</h5>
      <form action="/goals/new" method="POST">

        <label>Goal:
          <input type="text" name="title" id="inputGoal" class="form-control">
        </label><br>
        <label>Details:
          <textarea name="content" id="goalContent" cols="30" rows="2" class="form-control"></textarea>
        </label><br>
        <label>Complete By:
          <input type="date" name="goalDate" id="goalDate" class="form-control">
        </label><br>
        <label>More Info:
          <textarea name="moreInfo" cols="30" rows="2" class="form-control"></textarea>
        </label>
          <input type="checkbox" name="complete" id="completeGoal" class="form-control" hidden>
   
        <button type="submit" name="Submit" class="btn btn-dark">Submit</button>
      </form>
  </div>

  <%- include('../partials/footer') %>