body {
  text-align: center;
  background-color: rgb(91, 94, 93);
  font-family: 'Crimson Text', serif;
}

#logo {
  margin-left: 20px;
  font-family: 'Calligraffitti', cursive;
}

h1, h2, h3 {
  font-family: 'Racing Sans One', cursive;
}

li {
  list-style-type: none;
}
#regUsers {
  margin-top: 100px;
}