body {
  text-align: center;
  background-color: rgb(91, 94, 93);
  font: 14px 'Crimson Text', serif;
}

#logo {
  margin-left: 1.5rem;
  font-family: 'Calligraffitti', cursive;
}

h1, h2, h3 {
  font-family: 'Racing Sans One', cursive;
}

li {
  list-style-type: none;
}
#regUsers {
  margin-top: 7rem;
}

.card {
  margin: 2rem auto;
  padding: 2rem;
  width: 540px;
  min-height: 400px;
  overflow: scroll;
  background-color: rgb(206, 174, 163);
}

.card-title {
  margin: 1rem 0;
}

tab-content {
  
  padding: .5rem 1rem;

}

span {
  color: blue;
}
