<%- include('../partials/header.ejs') %> 


<div id="showWod"></div>
<div id="regUsers">
    <ul>Registered Users:
        <% users.forEach(u => { %>
          <li><a href="/users/<%= u._id %>"><%= u.name %></a></li>
        <% }) %>
      </ul> 
</div>

<%- include('../partials/footer.ejs') %> 