<%- include('../partials/header.ejs') %> 

<h1>Welcome to wodWizard, <br/></h1>
<h3>Today's wod is :</h3>

<button class="btn btn-dark" id="wod">Wod</button>
<div id="showWod"></div>
<div id="regUsers">
    <ul>Registered Users:
        <% users.forEach(u => { %>
          <li><%= u.name %></li>
        <% }) %>
      </ul>
</div>

<%- include('../partials/footer.ejs') %> 