<%- include('../partials/header.ejs') %> 


<div id="showWod"></div>
<div id="regUsers">
    <ul>Registered Users:
        <% users.forEach(u => { %>
          <li><%= u.name %></li>
        <% }) %>
      </ul>
</div>

<%- include('../partials/footer.ejs') %> 