<form action="" method="POST" enctype="multipart/form-data"></form>
<label>Name:
    <input type="text" name="name" id="name">
</label><br>
<label>Body Zone:
    <select name="bodyZone" class="form-control">
        <option value="legs">Legs</option>
        <option value="arms">Arms</option>
        <option value="chest" selected>Chest</option>
        <option value="back">Back</option>
        <option value="core">Core</option>
        <option value="shoulders">Shoulders</option>
        <option value="fullBody">Full Body/Cardio</option>
    </select>
</label><br>
<label>Description:
    <input type="text" name="description" id="description" size="40">
</label><br>
<label>Image:
    <input type="file" name="image" id="image">
</label>
</form>